

<section>
  <h1>Welcome to NerdyNarrative!</h1>
  <!-- Display a list of blog posts -->
  {{#each blogPosts}}
    <div class="box">
      <h2>{{title}}</h2>
      <p>Author: {{user.username}}</p>
      <p>{{created_at}}</p>
      <p>{{post_text}}</p>
      <!-- Add a link to view the full post -->
      <a href="/post/{{id}}">Comments</a>
    </div>
  {{/each}}
</section>


