

<section>
  <article>
    <h1>{{blogPost.title}}</h1>
    <p>Author: {{blogPost.user.username}}</p>
    <p>{{blogPost.created_at}}</p>
    <p>{{blogPost.post_text}}</p>
  </article>

  <!-- Display comments if applicable -->
  <div>
    {{#if blogPost.postcomments.length}}
        <h2>Comments</h2>
        {{#each blogPost.postcomments}}
            <p>{{comment_text}} - {{user.username}}</p>
        {{/each}}
    {{else}}
        <p>No comments yet.</p>
    {{/if}}
  </div>
  <!-- Add a form for adding a comment -->
  <form action="/blogpost/{{blogPost.id}}/comment" method="POST">
    <label for="comment">Add a comment:</label>
    <input type="text" id="comment" name="comment" required>
    <button type="submit">Submit Comment</button>
  </form>
</section>

